<div class="row">
    <div class="card col p-3 m-3 bg-danger">
        <div class="ui statistic">
            <div class="label  text-white">
                CONFIRMED
            </div>
            <div class="value  text-white mt-5">
                {{totalConfirmed}}
            </div>
        </div>
    </div>
    <div class="card col p-3 m-3 bg-success ">
        <div class="ui statistic">
            <div class="label  text-white">
                RECOVERED
            </div>
            <div class="value  text-white mt-5">
                {{totalRecovered}}
            </div>
        </div>
    </div>
    <div class="card col p-3 m-3 bg-primary">
        <div class="ui statistic">
            <div class="label  text-white">
                DEATHS
            </div>
            <div class="value  text-white mt-5">
                {{totalDeaths}}
            </div>
        </div>
    </div>
    <div class="card col p-3 m-3 bg-dark">
        <div class="ui statistic ">
            <div class="label  text-white">
                ACTIVE
            </div>
            <div class="value  text-white mt-5">
                {{totalActive}}
            </div>
        </div>
    </div>
</div>